.jumbotron {
    background: url('../assets/keyboard.jpeg') no-repeat center;
    background-size: cover;
    color: white;
    text-align: center;
}

#headshot {
    max-width: 40px;
    border-radius: 50%;
}