.portfolio-header {
    color: var(--white)
}

#portfolio img {
    max-width: 100%;
}

#portfolio a h3 {
    color: var(--white);
}

#portfolio {
    -ms-flex-align: center;
}

.card-deck {
    margin: 15px;
}

.card-img-top {
    border-bottom: 1px solid var(--lightgrey);
    padding: 2px;
}

.card-text a {
    font-style: italic;
    font-weight: bold;
    color: var(--darkgrey);
}

.card-header {
    padding: 1rem;
    font-size: 1.5rem;
    background-color: var(--lightgrey);
}